<link rel="stylesheet" type="text/css" href="/css/leaderboard.css">

<!-- Navbar -->
<% include partials/header.ejs %>

<!-- Below navbar -->
<div id="content">
	<h1>Leaderboard</h1>
	<div id="resultslist">
		<table class="table">
    		<thead>
      			<tr>
      				<th>Rank</th>
        			<th>Username</th>
        			<th>Accuracy</th>
       				<th>Total Ids</th>
      			</tr>
    		</thead>
    		<tbody>
    			<% users.forEach(function(user, count) {%>
	    			<tr>
	    				<td><%= count+1 %></td>
	    				<td><a href="/profile/<%= user.username%>">		<%= user.username %></a>
	    				</td>
	    				<td>
	    					<code><%= user.accuracy %>%		
	    					</code>
	    				</td>
	    				<td>
	    					<code><%= user.total_ids%></code>
	    				</td>
	    			</tr>
    			<% });%>
    		</tbody>
    	</table>

	</div>
</div>