<link rel="stylesheet" type="text/css" href="/css/profile.css">
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<a href="/quiz"><img src="/images/soundwave.png"></a>
	<h1 id="quizheader"><a id="quizlink" href="/quiz"><i class="fa fa-music"></i> Quiz Me <i class="fa fa-music"></i></a></h1>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a id="leaderboard" href="/about">About</a></li>
			<li><a id="leaderboard" href="/leaderboard">Leaderboard</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<% if (currentUser) { %>
			<li><a id="username" href="/profile/<%= currentUser.username %>"><%= currentUser.username %></a></li>
			<% } %>
			<li><a id="logout" href="/logout">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

<div id="content">
	<h1 id="un"><%= user.username %></h1>


	<!-- Favorites  -->
	<div id="favorites">
		<div id="labelfav">
			<h4>Favorites</h4>
		</div>

		<div id="listfav">
		<% favs.forEach(function(fav) { %>
			<div class="divfavorite">
				<h5 class="title"><%= fav.song_name %> - <%= fav.artist_name %></h5>
				<audio src="<%= fav.preview_link%>" controls></audio>
				<% if(currentUser.username===user.username) { %>
					<form class="pull-right fav-form">
						<span class="fa fa-heart pull-right redfav fa-2x" data-id="<%= fav.id %>"></span>
					</form>
				<% } else { %>
						<span class="fa fa-heart-o pull-right otherfav fa-2x" data-song="<%= fav.song_name %>"
						data-artist="<%= fav.artist_name %>"
						data-preview="<%= fav.preview_link %>"
						data-itunes="<%= fav.itunes_link %>" 
						data-userId="<%= fav.userId %>"></span>
				<% } %>
				<a class="buttonlink" href="<%= fav.itunes_link %>"><button>Download via iTunes</button></a>
			</div>
		<% }); %>
		</div>
	</div>

	<!-- Stats -->
	<div id="stats">
		<div id="labelstat">
			<h4>Stats</h4>
		</div>
		<div class="statwell">
			<h5 class="stat">Correct Ids: <code><%= user.total_ids %></code></h5>
			<h5 class="stat">Total Games Played: <code><%= user.song_count %></code></h5>
			<h5 class="stat">Accuracy: <code><%= Math.round((user.total_ids/user.song_count)*100) %>%</code></h5>
		</div>
	</div>
</div>
<script type="text/javascript" src="/jscript/profile.js"></script>