<link rel="stylesheet" type="text/css" href="/css/quiz.css">

<h1>Identify the song as fast as possible</h1>
<h2>choose a genre</h2>

<form method="POST">
	<select name="selector">
		<option value="pop">Pop</option>
		<option value="electronic">Electronic</option>
		<option value="daft punk">Daft Punk</option>
		<option value="klartraum">Klartraum</option>
	</select>
	<input type="submit" value="Start">
</form>

<% if(randomSong){ %>
<div id="quizdiv">

	<div id="timer">Time Remaining: <code id="time"></code></div>
	<h4 id="cheat"><%= randomSong.trackName %></h4>
	<audio id="audio" src="<%= randomSong.previewUrl %>" controls>
		</audio>
		<i id="favorite" class="fa fa-heart-o pull-right"></i>
	<div id="list">
		<ul>
			<% var r= Math.ceil(Math.random()*4) %>
			<% if (r===1){ %>
				<li id="a1">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</li>
				<li id="a2">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</li>
				<li id="a3">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</li>
				<li id="a4">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</li>
			<% } else if (r===2) { %>
				<li id="b1">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</li>
				<li id="b2">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</li>
				<li id="b3">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</li>
				<li id="b4">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</li>
			<% } else if (r===3) { %>
				<li id="c1">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</li>
				<li id="c2">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</li>
				<li id="c3">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</li>
				<li id="c4">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</li>
			<% } else if (r===4) { %>
				<li id="d1">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</li>
				<li id="d2">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</li>
				<li id="d3">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</li>
				<li id="d4">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</li>
			<%}%>
		</ul>
		<a href="<%= randomSong.trackViewUrl %>"><button>Download this song from Itunes</button></a>
		<p id="answer" class=""></p>
	</div>
</div>
<h5>All music clips courtesy of iTunes</h5>
<% } %>
<script type="text/javascript" src="/jscript/quiz.js"></script>