<link rel="stylesheet" type="text/css" href="/css/quiz.css">

<h1>Identify the song as fast as possible</h1>
<h2>choose a genre</h2>

<form method="POST">
	<select name="selector">
		<option value="pop">Pop</option>
		<option value="electronic">Electronic</option>
		<option value="daft punk">Daft Punk</option>
	</select>
	<input type="submit" value="Start">
</form>

<% if(randomSong){ %>
<div id="quizdiv">
<script>var randomSongId = <%= randomSong.trackId %>;
	$("#cheat").append(randomSongId);
	function right(){
		$('#answer').text("Correct!");
		// setTimeout(function(){

		// }, 2000);
	}
	function wrong(){
		$('#answer').text("Incorrect");
	}
</script>
	<div id="timer">Time Remaining: <code id="time"></code></div>
	<h4 id="cheat"><%= randomSong.trackName %></h4>
	<audio id="audio" src="<%= randomSong.previewUrl %>" controls>
		</audio>
		<i id="favorite" class="fa fa-heart-o pull-right"></i>
	<div id="list">
		<ul>
			<% var r= 1/*Math.ceil(Math.random()*4)*/ %>
			<% if (r===1){ %>
				<li id="a1">
					<script>$('#a1').on('click', 
						function(){
							$('#answer').text("Correct!");
						});
					</script>
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</a></li>
				<li id="a2">
					<script>$('#a2').on('click', 
						function(){
							$('#answer').text("Incorrect!");
						});
					</script>
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</a></li>
				<li id="a3">
					<script>$('#a3').on('click', 
						function(){
							$('#answer').text("Incorrect!");
						});
					</script>
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</a></li>
				<li id="a4">
					<script>$('#a4').on('click', 
						function(){
							$('#answer').text("Incorrect!");
						});
					</script>
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</a></li>
			<% } else if (r===2) { %>
				<li><a href="/quiz/<%=genre%>" data-songid="<%= filler.one.trackId %>">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</a></li>
			<% } else if (r===3) { %>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</a></li>
			<% } else if (r===4) { %>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.one.trackName %> - 
					<%= filler.one.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.two.trackName %> - 
					<%= filler.two.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= filler.three.trackName %> - 
					<%= filler.three.artistName %>
					</a></li>
				<li><a href="/quiz/<%=genre%>">
					<%= randomSong.trackName %> - 
					<%= randomSong.artistName %>
					</a></li>
			<%}%>
		</ul>
		<p id="answer"></p>
	</div>
</div>
<% } %>
<script type="text/javascript" src="/jscript/quiz.js"></script>